{% extends "base.html" %} 
<!-- Content goes here -->
{% block content %}
<!-- load custom tags -->
{% load business_days %}

<div class="container-fluid p-2 bg-dark">
  
  <div class="row p-3">
    <div class="col-12 col-md-12 col-lg-4 col-xl-4  mb-md-3 mb-3 mb-ls-0">
        <form method="GET" actions="." class="form-inline" >
            <input name="search" class="form-control" placeholder="PRF number, customer name or users.." style="width:70%;"/>
            <button type="submit" class="btn btn-outline-light">Search</button>
        </form>
    </div>
    <div class="col-12 col-md-12 col-lg-8 col-xl-8">
        <form method="GET" actions="." class="form-inline" >
          <label class="text-white mr-1">By Status:</label>
            <select class="form-control mr-3">
              <option>Pending</option>
              <option>In-progress</option>
              <option>Delayed</option>
              <option>Completed</option>
            </select>
            <label class="text-white mr-1">By Pallet Type:</label>
            <select class="form-control mr-3">
              <option>Standard</option>
              <option>Europe</option>
            </select>
            <label class="text-white mr-1">By Request Type:</label>
            <select class="form-control mr-3">
              <option>Bulk</option>
              <option>Re-Work</option>
              <option>Filling</option>
              <option>Coding</option>
              <option>Packing</option>
              <option>P.Label</option>
            </select>
            <button type="submit" class="btn btn-outline-light">Filter</button>
        </form>
    </div>
  </div>


</div>
<span class="table-responsive text-nowrap ">
        <table class="table table-hover table w-auto ">
          <thead class="thead-dark" >
            <tr>
              <th scope="col">#</th>
              <th scope="col">PRF Number</th>
              <th scope="col">Requested Date</th>
              <th scope="col">Requested By</th>
              <th scope="col">Customer Name</th>
              <th scope="col">Request Type</th>
              <th scope="col">Required Date</th>
              <th scope="col">Pallet Type</th>
              <th scope="col">Expiry Date Format</th>
              <th scope="col">Status</th>
              <th scope="col">Special instructions</th>
              <th scope="col">Shrink Wraps</th>
              

            </tr>
          </thead>
          <tbody>
            {% for job in jobs %}
            
            <tr class="click-row" data-href="{% url 'web:single-job' job.pk %}">
              <th scope="row">{{ job.pk }}</th>
              <td><a href="{% url 'web:single-job' job.pk %}">{{ job.prf_number }}</a></td>
              
                {% if job.is_past_due %}
                <td class="bg-danger">{{ job.requested_date }}</td>
                {% elif job.is_late %}
                <td class="bg-warning">{{ job.requested_date }}</td>
                {% else %}
                  <td>{{ job.requested_date  }}</td>
                {% endif %}
                          
              <td>{{ job.requested_by.first_name }} {{ job.requested_by.last_name }}</td>
              <td>{{ job.customer_name }}</td>
              <td>
              {% for type in job.request_type.all %}
              <span class="btn-sm btn btn-success">{{ type }}</span>
              {% endfor %}
                </td>
                <td>{{ job.required_date }}</td>
                <td>{{ job.pallet_type }}</td>
                <td>{{ job.expiry_date_format }}</td>
                <td class='bg-primary text-white' >{{ job.status }}</td>
                <td>{{ job.special_instructions }}</td>
                <td>{{ job.shrink_wrap }}</td>
            </tr>
          </a>
            {% endfor %}
          </tbody>
        </table>
    
        <nav class="Page navigation example">
          <ul class="pagination pg-blue">
            {% if jobs.has_previous %}
            <li class="page-item">
              <a href="?page=1" class="page-link">&laquo; First</a>
            </li>
            <li class="page-item">
              <a href="?page={{ members.previous_page_number }}" class="page-link"
                >Previous</a
              >
            </li>
            {% endif %} 
            {% if jobs.has_next %}
            <li class="page-item">
              <a href="?page={{ members.next_page_number }}" class="page-link"
                >Next</a
              >
            </li>
            <li class="page-item">
              <a href="?page={{ members.paginator.num_pages }}" class="page-link"
                >Last &raquo;</a
              >
            </li>
            {% endif %}
          </ul>
          <span class="current">
            Page {{ jobs.number }} of {{ jobs.paginator.num_pages }}.
          </span>
        </nav>
      </span>


  <script>
    let clickRow = document.getElementsByClassName("click-row")

    var reDirect = function(){
      var href = this.getAttribute("data-href");
      console.log(href)
      window.location = href
    }
    for (var i = 0; i < clickRow.length; i++) {
      clickRow[i].addEventListener('click', reDirect, false)
    }
    
  </script>
{% endblock content %}