header {
  padding: 0;
  margin: 0;
  position: relative;
  height: 650px;
  background-image: linear-gradient(135deg, #213781, #5999c6);
}

h1 {
  text-align: center;
}

header h1 {
  color: white;
}

svg {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 10vw;
  /* set height to pixels if you want angle to change with screen width */
}
.header-title-holder {
  padding-top: 100px;
  text-align: center;
}
.header-title-holder > img {
  width: 100px;
  padding: 15px;
}
.header-title-holder > h3 {
  color: #fff;
}
.text-centre{
  text-align: center !important;
}
/* messages css */

.messages > ul , ul.messages {
  padding: 0 !important;
  margin-bottom: 0;
}

.success {
  padding: 5px;
  background-color: green;
}
.info {
  padding: 5px;
  background-color: blue;
}
.error {
  padding: 5px;
  background-color: red;
}

/* login style */
.login-background {
  height: 100vh;
  width: 100%;
  background: rgb(247, 174, 124);
  background: linear-gradient(135deg, #213781, #5999c6);
}

.login-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.login-box {
  margin-top: 10vh;
  flex: 1;
  max-width: 25%;
  padding: 20px;
  background-color: #f6f6f6;
  border-radius: 10px;
}
@media only screen and (max-width: 640px) {
  .login-box {
    max-width: 85%;
  }
}

.search-holder {
  display: flex;
  justify-content: center;
}

.no-radius {
  border-radius: 0 !important;
}

.address_container {
  border: 1px solid #5999c6;
  border-radius: 5px;
  padding: 10px;
  margin-right: 5px;

  cursor: pointer;
}

.add-selected{
  border: 2px solid #213781;
}
.request-type{
  list-style-type:none;
}
.request-type > li {
  list-style-type: none;
  padding-right: 15px;
}
.request-type .form-check-inline{
  margin-right: 1px !important;
}

.click-row{
  cursor: pointer;
}