{% extends 'base.html' %} {% load crispy_forms_tags %} {% block content %}
<div class="container mt-4">
  <p>
    This form is being requested by
    <strong>{{ user.first_name }} {{ user.last_name }}</strong> on
    <strong>{% now "jS F Y H:i" %}</strong>.
  </p>
  <form target="." method="post" class="mb-4">
    {% csrf_token %}
    <!-- Django form -->
    
    <div class="form-row">
      <div class="col-10 col-md-11 col-lg-11">
        {{ prf.customer_name | as_crispy_field }}
      </div>
      <div class="col-2 col-md-1 col-lg-1">
        <a
          title="Add a new customer"
          href="{% url 'web:add-customer' %}"
          class="btn btn-outline-primary"
          style="margin-top:2rem;width:100%;"
        >
          +
        </a>
      </div>
      <!-- VUE JS CUSTOMER ADDRESS SELECT BOX -->
      <div id="address">
        <button
          type="button"
          v-on:click="fetchAddress"
          class="btn btn-outline-dark btn-sm"
        >
          Show Address(es)
        </button>
        <input type="hidden" name="customer_address_id" id="addressId" value="" />
        <div class="row" style="padding: 15px;">
          <div
            v-for="(address, index) in addresses"
            class="address_container mt-3"
            :class="{'add-selected': index == activeIndex}"
            v-on:click="selectAddress(address.id, index)"
          >
            <p class="">
              [[ address.address_line_1 ]]<br />
              [[ address.address_line_2 ]]<br />
              [[ address.city ]]<br />
              [[ address.country ]]<br />
              [[ address.post_code ]]<br />
            </p>
          </div>
        </div>
      </div>
      <br />
      {{ prf.address_label | as_crispy_field }}
      <!-- END OF VUE JS CUSTOMER ADDRESS SELECT BOX -->
    </div>
    {{ prf.required_date | as_crispy_field }}
    {{ prf.request_type  }}

    <br />
    <!-- VUE JS PRODUCT FORM -->
    <div id="newProduct">
      <button
        type="button"
        class="btn btn-outline-dark mt-3 mb-3 align-self-end"
        @click="addNewProductForm"
      >
        Add Product
      </button>
      <div
        class="product-form-container mt-2"
        style="background-color:aquamarine;border-radius:5px;width:100%;padding:15px;"
        v-for="(product, index) in products"
      >
        <span
          class="float-right"
          style="cursor:pointer"
          @click="deleteProductForm(index)"
          >x</span
        >
        <br />
        <p>[[ index + 1 ]]</p>
        <div class="form-row">
          <div class="col-md-3 mb-3">
            <label for="">Product Code</label>
            <input
              v-model="product.product"
              placeholder="CALC20"
              name="product"
              class="form-control"
            />
          </div>
          <div class="col-md-3 mb-3">
            <label for="">Quantity</label>
            <input v-model="product.quantity" name="quantity"
            class="form-control" />
          </div>
          <div class="col-md-3 mb-3">
            <label for="">MFG Date</label>
            <input
              name="mfg_date"
              v-model="product.mfg_date"
              type="date"
              class="dateinput form-control"
            />
          </div>
          <div class="col-md-3 mb-3">
            <label for="">Expiry Date</label>
            <input
              name="expiry_date"
              v-model="product.expiry_date"
              type="date"
              class="dateinput form-control"
            />
          </div>
          <input
            name="notes"
            v-model="product.notes"
            placeholder="Some notes"
            class="form-control"
          />
        </div>
      </div>
    </div>
    <!-- END OF VUE JS PRODUCT FORM -->
    {{ prf.special_instructions | as_crispy_field }}
  
    <!-- django form -->
    {{ prf.pallet_type | as_crispy_field }}
    {{ prf.shrink_wrap | as_crispy_field }}
    <div>

      <button type="button" class="btn btn-outline-secondary" disabled>SAVE FOR LATER</button>
      <button type="submit" class="btn btn-outline-primary">SUBMIT</button>
      
    </div>
  </form>
  <span class="mt-4 "></span>
  <br />
</div>

<script>
  var customerId = document.getElementById("id_customer_name");


  new Vue({
    delimiters: ["[[", "]]"],
    el: "#address",
    data: {
      addresses: [],
      activeIndex: null,
      newAddressForm: false,
    },
    methods: {
      fetchAddress: function() {
        var customerId = document.getElementById("id_customer_name").value;
        var url = `/customer/address/${customerId}/`;
        fetch(url)
          .then(response => response.json())
          .then(data => {
            this.addresses = data.customer_addresses;
            if (data.customer_addresses.length >= 1){
              this.newAddressForm = true
            }
          });
      },
      selectAddress(id, index){
        var addressId = document.getElementById("addressId")
        var addContainer = document.querySelectorAll('.address_container')
        //var selectedAddress = document.getElementById(`address${id}`)
        addressId.value = id
        //selectedAddress.classList.add("add-selected")
        this.activeIndex = index
      }
    }
  });

  var app = new Vue({
    delimiters: ["[[", "]]"],
    el: "#newProduct",
    data: {
      products: [
        {
          product: "",
          quantity: "",
          mfg_date: "",
          expiry_date: "",
          notes: ""
        }
      ]
    },
    methods: {
      addNewProductForm() {
        this.products.push({
          product: "",
          quantity: "",
          mfg_date: "",
          expiry_date: "",
          notes: ""
        });
      },
      deleteProductForm(index) {
        this.products.splice(index, 1);
      }
    }
  });
</script>
{% endblock content %}
